

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background: rgb(236, 228, 216);
  font: normal normal 15px/1.5 Georgia, Palatino, '” Palatino Linotype”', Times, '“Times New Roman”', serif;
  color: rgb(84, 73, 67);
  -webkit-font-smoothing: antialiased;
}
a {
  color: rgb(65, 112, 144);
}

a:hover {
  color: #cd596b;
}

a {
  text-decoration: none;
}
p {
  margin: 0.7em 0px;
}


header, footer, section {
  display: block;
  position: relative;
}

/* STYLES */

div.shell {
  display: block;
  width: 670px;
  margin: 0 auto;
}

a#forkme_banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 138px;
  display: block;
  background: transparent url(../images/fork-sprite.png) 0 0 no-repeat;
  text-indent: -9000px;
  z-index: 3;
}

a#forkme_banner:hover {
  background-position: 0 -138px;
}

/* header */

header {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 600px;
  top: 38px;
}

header span.ribbon-inner {
  position: relative;
  display: block;
  background-color: #cd596b;
  border: 4px solid #7c334f;
  padding: 2px;
  z-index: 1;
}


header span.left-tail, header span.right-tail {
  position: relative;
  display: block;
  width: 56px;
  height: 105px;
  background: transparent url(../images/ribbon-tail-sprite.png) 0 0 no-repeat;
  position: absolute;
  bottom: -37px;
  z-index: 0;
}

header span.left-tail {
  background-position: 0 0;
  left: -31px;
}

header span.right-tail {
  background-position: -56px 0;
  right: -31px;
}

header h1 {
  background-color: #7c334f;
  font-size: 2em;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  color: #ece4d8;
  text-align: center;
  line-height:1;
  padding: 14px 20px 0;
  margin: 0 0 2px 0;
}

header h2 {
  background-color: #7c334f;
  font: bold italic .85em/1.5 Georgia, Times, “Times New Roman”, serif;
  color: #e69b95;
  padding-bottom: 14px;
  margin-top: -2px;
  text-align: center;
}


div#no-downloads {
  position: relative;
  display: block;
  height: 197px;
  width: 550px;
  padding-bottom: 150px;
  margin: -80px auto -150px;
  z-index: 1;
  background: transparent url(../images/bg-ramp.jpg) center 171px no-repeat;
}

div#no-downloads span.inner {
  display: block;
  position: relative;
  height: 197px;
  width: 550px;
  background: transparent url(../images/download-sprite.png) 0 0 no-repeat;
}

span.banner-fix {
  background: transparent url(../images/download-fallback-bg.png) center top no-repeat;
  display: block;
  height: 19px;
  position: absolute;
  width: 670px;
  top: 19px;
}

section#main_content {
  z-index: 2;
  padding: 20px 82px 0;
  min-height:185px;
}

/* footer */

footer {
  background: transparent url(../images/footer-ramp.jpg) center -1px no-repeat;
  padding-top: 104px;
  margin: -94px auto 40px;
  max-width: 560px;
  text-align: center;
}

footer span.ribbon-outer {
  display: block;
  position: relative;
  border-bottom: 2px solid #bdb6ad;
}

footer span.ribbon-inner {
  position: relative;
  display: block;
  background-color: #cd596b;
  border: 2px solid #7c334f;
  padding: 1px;
  z-index: 1;
}

footer p {
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: bold;
  font-size: .8em;
  color: #8b786f;
}

footer a:hover {
  color: #cd596b;
}

footer span.ribbon-inner p {
  background-color: #7c334f;
  margin: 0;
  color: #e69b95;
  font: bold italic 12px/1 Georgia, Times, “Times New Roman”, serif;
  padding-bottom:4px;
}

footer span.ribbon-inner a {
  position: relative;
  bottom: -1px;
  color: #7eb0d2;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 1.2em;
}

footer span.ribbon-inner a:hover {
  color: #cd596b;
}

footer span.left-tail, footer span.right-tail {
  position: relative;
  display: block;
  width: 18px;
  height: 29px;
  background: transparent url(../images/small-ribbon-tail-sprite.png) 0 0 no-repeat;
  position: absolute;
  bottom: 5px;
  z-index: 0;
}

footer span.left-tail {
  background-position: 0 0;
  left: -11px;
}

footer span.right-tail {
  background-position: -18px 0;
  right: -11px;
}

footer span.octocat {
  background: transparent url(../images/octocat.png) 0 0 no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

/* content */





/* Content based headers */

#main_content > .header-level-1:first-child,
#main_content > .header-level-2:first-child,
#main_content > .header-level-3:first-child,
#main_content > .header-level-4:first-child,
#main_content > .header-level-5:first-child,
#main_content > .header-level-6:first-child {
  margin-top: 0;
}

